.content {
    margin-top: 6vh;
}

.title {
    border: none;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.cards {
    border: none;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
}

.cards .card {
    border: none;
    background: none;
    margin-right: 20px;
    margin-left: 20px;
}

.card3 {
    top: 50px;
}

.card1 {
    bottom: 50px;
}

.top-title {
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-subtitle {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lista {
    margin-top: 50px;
    display: flex;
    color: white;
    font-size: 24px;
    margin-left: 12rem;
}


.topico {
    margin-top: 50px;
    margin-left: 200px;
    color: white;
}

#lista1 li{
    list-style-type: none;
}